@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --text-body-1-font-family: "Roboto", Helvetica;
  --text-body-1-font-size: 32px;
  --text-body-1-font-style: normal;
  --text-body-1-font-weight: 400;
  --text-body-1-letter-spacing: 0px;
  --text-body-1-line-height: normal;
  --text-body-2-font-family: "Roboto", Helvetica;
  --text-body-2-font-size: 20px;
  --text-body-2-font-style: normal;
  --text-body-2-font-weight: 400;
  --text-body-2-letter-spacing: 0px;
  --text-body-2-line-height: normal;
  --text-body-3-font-family: "Roboto", Helvetica;
  --text-body-3-font-size: 12px;
  --text-body-3-font-style: normal;
  --text-body-3-font-weight: 400;
  --text-body-3-letter-spacing: 0px;
  --text-body-3-line-height: normal;
  --text-display-1-font-family: "Roboto", Helvetica;
  --text-display-1-font-size: 75px;
  --text-display-1-font-style: normal;
  --text-display-1-font-weight: 400;
  --text-display-1-letter-spacing: 0px;
  --text-display-1-line-height: 72.39999389648438%;
  --text-display-2-font-family: "Roboto", Helvetica;
  --text-display-2-font-size: 55px;
  --text-display-2-font-style: normal;
  --text-display-2-font-weight: 400;
  --text-display-2-letter-spacing: 0px;
  --text-display-2-line-height: 72.39999389648438%;
  --text-title-1-font-family: "Roboto", Helvetica;
  --text-title-1-font-size: 24px;
  --text-title-1-font-style: normal;
  --text-title-1-font-weight: 600;
  --text-title-1-letter-spacing: 0px;
  --text-title-1-line-height: normal;
  --text-title-2-font-family: "Roboto", Helvetica;
  --text-title-2-font-size: 16px;
  --text-title-2-font-style: normal;
  --text-title-2-font-weight: 700;
  --text-title-2-letter-spacing: 0px;
  --text-title-2-line-height: normal;
  --text-title-3-font-family: "Roboto", Helvetica;
  --text-title-3-font-size: 18px;
  --text-title-3-font-style: normal;
  --text-title-3-font-weight: 600;
  --text-title-3-letter-spacing: 0px;
  --text-title-3-line-height: normal;
  --text-title-4-font-family: "Roboto", Helvetica;
  --text-title-4-font-size: 12px;
  --text-title-4-font-style: normal;
  --text-title-4-font-weight: 500;
  --text-title-4-letter-spacing: 0px;
  --text-title-4-line-height: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
